html {
    background-color: #e0ffff;
    height: 100%;
}

body {
    /*background-color: #c0eeee;*/
    width: 80%;
    max-width: 1000px;
    height: 100%;
}

#target-container {
    width: 100%;
    background-color: white;
    height: 90%;
    border-color: #80cccc;
    border-width: 1px;
    border-style: solid;
}

.footer {
    width: 100%;
    padding: 0;
    margin: 3px 0;
    font-size: 12px;
}

.bedrock-footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #60aaaa;
    display: inline-block;
}

.bedrock-footer-link {
    color: #509999;
    font-weight: bold;
    text-decoration:none;
}

.footer-link {
    color: #509999;
    text-decoration:none;
    float:right;
}
